select {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

option {
  font-size: calc(1.5vw + 1.5vh);
  font-weight: normal;
  display: block;
  white-space: nowrap;
}

.new-list-div {
  width: calc(20vw + 20vh);
  height: calc(5vw + 5vh);
}
